{% extends "base.html" %}

{% block content %}
<main class="contenido">
	<div class="text-sm-center">
		<form class="content-login" method="post">
			<h1 class="mb-5">
				Registrarse 
			</h1>
			<div class="mb-3">
				<input class="form-control p-4" type="text" name="usuario" id="usuario" placeholder="Nombre Usuario">
			</div>

			<div class="mb-3">
				<input class="form-control p-4" type="email" name="Email" id="email" placeholder="Correo Electronico">
			</div>

			<div class="mb-3">
				<input class="form-control p-4" type="password" name="password" id="password"
					placeholder="Contraseña">
			</div>

			<div class="mb-3">
				<input class="form-control p-4" type="password" name="password2" id="password2"
					placeholder="Confirmar Contraseña">
			</div>

			<div class="mb-3">
				<input style="font-size: 20px;" class="btn btn-success p-3 w-100" type="submit" return="false" onclick="validacionForm();"  value="Registrarse">
			</div>
		</form>
	</div>
</main>
{% endblock%}